<head>

</head>

<body>
    <main>
        <div>
            <input id="user" name="user" type="text" value='testuser@test.com'/>
            <input id="pass" name="password" type="text" value='testpass'/>
            <button onClick="authenticateAjax()">Send</button>
            <button onClick="validateAjax()">Validate</button>
            <button onClick="noValidateAjax()">No Validate</button>
        </div>
    </main>

    <script>
        'use strict'
        //There is probably a library that will handle this
        function setToken(token) {
            if('localStorage' in window && window['localStorage'] !== null){
                console.log('localStorage detected');
                try {
		            localStorage.setItem('X-Auth-Token', token);
            	} catch (e) {
            		if (e == QUOTA_EXCEEDED_ERR) {
            			alert('Quota exceeded!');
            		}
            	}
            }else{
                //fallback on cookie
            }

            console.log(localStorage['X-Auth-Token']);
        }

        //Logs in with creds, then saves token if returned
        function authenticateAjax() {
            const user = document.getElementById('user').value;
            const pass = document.getElementById('pass').value;
            const creds = {
                email: user,
                password: pass
            };

            fetch('http://localhost:5050/login', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(creds)
            }).then((response) => {
                //console.log(response.blob());;
                console.log(response.body)
                return response.json();
                //return response.json();
            }).then( (json) => {
                console.log(json);
                setToken(json.token);
            }).catch( (e) => {
                console.error(e);
            });
        }

        // Checks if token is valid
        function validateAjax(){
            fetch('http://localhost:5050/validate', {
                method: 'GET',
                headers: {'Content-Type': 'application/json', 'token': localStorage['X-Auth-Token']}
            }).then((response) => {
                console.log(response)
            }).catch( (e) => {
                console.error(e);
            });
        }

        // Checks if not adding token to head fails
        function noValidateAjax(){
            fetch('http://localhost:5050/validate', {
                method: 'GET'
            }).then((response) => {
                console.log(response)
            }).catch( (e) => {
                console.error(e);
            });
        }

        console.log(localStorage['X-Auth-Token']);
    </script>
</body>

<footer>

</footer>
